* {
  box-sizing: border-box;
}
html,
body,
main {
  margin: 0;
  padding: 0;
}
main {
  margin-top: -70px;
}

nav {
  background-color: rgba(209, 212, 71, 1);
}

.navigation {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 30px;

  border-bottom: 1px solid black;
}
.nav-link-list {
  float: right;
  color: black;
  margin: 0 10px;
}

header {
  height: 35px;
  text-align: center;
  /*display: block;*/
  margin-top: 50px;
  margin-bottom: 5%;
  font-size: 25px;
  padding: 30%;
  
}



form {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1517770413964-df8ca61194a6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a2a753a335178a63b40af45ed76f78f&auto=format&fit=crop&w=1050&q=80");
  height: 500px;
  width: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

fieldset {
  border: none;
}
.container {
  background-color: white;

  width: 80%;
  max-width: 500px;
  /* position: fixed; */
  border-radius: 10px;

  padding: 40px;
  /* display: inline; */
  margin: 0px auto;
  margin-top: 30%;
}

.main-section {
  background-color: white;
  text-align: center;
  font: bold;
  font-size: 18px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  
}

.section {
  text-align: center;
  font: bold;
  font-size: 18px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: none;
}
.textBlock {
  width: 100%;
  background-color: white;
  padding: 15px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 10%;

}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
}

ul {
  list-style: none;
  font: 18px;
  display: inline-block;
  margin-bottom: 50px;
}

#details-page {
  margin-top: 10%;
  background-color: white;
  text-align: center;
  font-size: 24px;
}

#results-list li {
  margin: 0 0 20px 0;
}

#results-page {
  text-align: center;
  background-color: white;
}
.book-cover {
  height: 200px;
  width: 150px;
  float: left;
}
.clear {
  clear: both;
}
.back {
  margin-top: 80px;
  border-radius: 10px;
  height: 40px;
  width: 60px;
  background-color: grey;
  color: black;
  font: bold;
  font-size: 18px;
  margin-bottom: 80px;
}

#details-page .book-cover {
  margin: 0 0 50px 0;
  height: 300px;
  width: 200px;
  float: none;
  margin-top: 20%;
}

.landing-img {
  float: none;
  width: 50%;
}

.right {
  float: none;
}

.left {
  float:none;
}

.button{
  padding: 5px 10px;
  border-radius: 3px;
  background-color:rgba(209, 212, 71, 1);
  border: none;
  font-size: 18px;
}

@media screen and (min-width: 769px) {
  .navigation {
    width: cover;
  }
 .container {
   margin-top: 10%;
 }
   header{
    margin:none;
    padding: none;
    margin-bottom: 0;
  }
  #details-page .book-cover {
    margin-top: 3%;
  }
  .main-section{
    height: 200px;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
  }
  .section{
    margin-left: 20%;
    margin-right: 20%;
  }
  #list {
    font-size: 18px;
  }
  .back{
    margin-top: 5%;
  }
  .textBlock{
    font-size: 20px;
  }
}

@media screen and (min-width: 500px) {
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  header {
    margin-top: none;
    margin-bottom: none;
    padding: 10%;
  }
  #details-page{
    margin-left: 10%;
    margin-right: 10%;
  }
  
}
